<div class="mb-3 pb-3 border-bottom d-flex justify-content-between align-items-center">
    <div class="w-50">
        <h1>
            {# Name #}
            Alert {{ report.id }} Details
        </h1>
    </div>

    <div class="lead">
        <span class="badge text-bg-dark" aria-describe="Website URL">{{ short_url }}</span>

        {% if tags|length > 0 %}
            {% for tag in tags %}
                <span class="badge bg-secondary" aria-describe="Tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>

<section id="meta_settings" class="mb-3 pb-3">
    <p class="lead">
        {# Name #}
        {{ report.message }}
    </p>

    {# Begin more info. #}
    {% if report.more_info %}
        <h2 class="fs-3">More Info</h2>

        {% if escaped_info %}
            <pre aria-describe="code snippet" class="rounded bg-secondary text-white p-3 mb-1"><code>{{ escaped_info }}</code></pre>
        {% else %}
            <div><p>No additional info found for this alert</p></div>
        {% endif %}
    {% endif %}
</section>
